Hello ${user-name},

${uploader-name} <${uploader-email}> has requested ${account-type2} account on our server for you.

------------------------------------------------------------
Information about the person who requested the account:
------------------------------------------------------------

From:     ${uploader-name}
Email:    ${uploader-email}
${comment-sentence}
-------------------------------------------------
Here's how to login:
-------------------------------------------------

Visit:    ${login-link}
User:     ${user-id}
Password: ${password}
${account-expiration-sentence}
--------------------------------------------------
CIFEX - CISD File EXchanger
Center for Information Sciences and Databases
ETH Zurich