Hello ${user-name},

${uploader-name} <${uploader-email}> has updated your ${account-type} account on our server for you.

-------------------------------------------------
Here's how to login:
-------------------------------------------------

Visit:    ${login-link}
User:     ${user-id}
${password-sentence-update}
${account-expiration-sentence}
--------------------------------------------------
CIFEX - CISD File EXchanger
Center for Information Sciences and Databases
ETH Zurich