<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/cifex/source/java/ch/systemsx/cisd/cifex/rpc/client/gui/FileUploadClient.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<booleanAttribute key="org.eclipse.debug.core.appendEnvironmentVariables" value="true"/>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="ch.systemsx.cisd.cifex.rpc.client.gui.FileUploadClient"/>
<stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value="http://localhost:8888/cifex/rpc-service&#13;&#10;a&#13;&#10;a&#13;&#10;5000"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="cifex"/>
</launchConfiguration>
