<?xml version="1.0" encoding="UTF-8"?>
<!--
 Copyright 2008 ETH Zuerich, CISD
 
 Licensed under the Apache License, Version 2.0 (the "License");
 you may not use this file except in compliance with the License.
 You may obtain a copy of the License at

      http://www.apache.org/licenses/LICENSE-2.0

 Unless required by applicable law or agreed to in writing, software
 distributed under the License is distributed on an "AS IS" BASIS,
 WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 See the License for the specific language governing permissions and
 limitations under the License.
-->

<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:tx="http://www.springframework.org/schema/tx"
    xsi:schemaLocation="
       			http://www.springframework.org/schema/beans
						http://www.springframework.org/schema/beans/spring-beans.xsd
						http://www.springframework.org/schema/tx
						http://www.springframework.org/schema/tx/spring-tx.xsd">

    <import resource="genericCommonContext.xml"/>
    <!-- 
        // Server
    -->

    <bean id="cifex-service" class="ch.systemsx.cisd.cifex.server.CIFEXServiceImpl">
        <constructor-arg ref="domain-model" />
        <constructor-arg ref="request-context-provider" />
        <constructor-arg ref="user-action-log" />
        <constructor-arg ref="${external-authentication-service}" />
        <property name="sessionExpirationPeriodInMinutes" value="${session-timeout}" />
    </bean>

    <bean id="domain-model" class="ch.systemsx.cisd.cifex.server.business.DomainModel">
        <constructor-arg ref="dao-factory" />
        <constructor-arg>
            <bean class="ch.systemsx.cisd.common.mail.MailClient">
                <constructor-arg value="${mail.from}" />
                <constructor-arg value="${mail.smtp.host}" />
                <constructor-arg value="${mail.smtp.user}" />
                <constructor-arg value="${mail.smtp.password}" />
            </bean>
        </constructor-arg>
        <constructor-arg ref="user-action-log" />
        <constructor-arg ref="bean-post-processor" />
        <constructor-arg ref="user-session-holder" />
        <constructor-arg value="${mail.url.override}" />
        <property name="fileStorePath" value="${file-store}" />
        <property name="fileRetention" value="${file-retention}" />
        <property name="userRetention" value="${user-retention}" />
        <property name="maxRequestUploadSizeInMB" value="${max-upload-size}" />
        <property name="administratorEmail" value="${administrator.email}" />
    </bean>

    <bean id="user-session-holder"
        class="ch.systemsx.cisd.cifex.server.business.UserHttpSessionHolder" />

    <bean id="user-action-log" class="ch.systemsx.cisd.cifex.server.UserActionLog">
        <constructor-arg ref="request-context-provider" />
        <constructor-arg value="${testing}" />
    </bean>
    
    <!-- 
        // RPC Service
    -->

    <bean id="rpc-service-exporter" class="org.springframework.remoting.httpinvoker.HttpInvokerServiceExporter">
        <property name="service" ref="rpc-service" />
        <property name="serviceInterface" value="ch.systemsx.cisd.cifex.rpc.ICIFEXRPCService" />
    </bean>

    <bean id="rpc-service" class="org.springframework.aop.framework.ProxyFactoryBean">
        <property name="proxyInterfaces">
            <list>
                <value>ch.systemsx.cisd.cifex.rpc.ICIFEXRPCService</value>
            </list>
        </property>
        <property name="target">
            <bean class="ch.systemsx.cisd.cifex.rpc.server.CIFEXRPCService">
                <constructor-arg ref="domain-model" />
                <constructor-arg ref="request-context-provider" />
                <constructor-arg ref="user-action-log" />
                <constructor-arg ref="${external-authentication-service}" />
                <property name="sessionExpirationPeriodInMinutes" value="${session-timeout}" />    
                <constructor-arg value="${testing}" />
            </bean>
        </property>
        <property name="interceptorNames">
            <list>
                <value>exception-translator</value>
            </list>
        </property>
    </bean>
    
    <bean id="exception-translator"
        class="ch.systemsx.cisd.common.spring.ServiceExceptionTranslator">
        <property name="packagesNotMasqueraded">
            <list>
                <value>ch.systemsx.cisd.cifex.shared</value>
            </list>
        </property>
    </bean>


    <!-- 
        // Database
    -->

    <import resource="dbConfigurationContext.xml" />

    <bean id="data-source" factory-bean="db-configuration-context" factory-method="getDataSource" />

    <bean id="transaction-manager"
        class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
        <constructor-arg ref="data-source" />
    </bean>

    <bean id="dao-factory"
        class="ch.systemsx.cisd.cifex.server.business.dataaccess.db.DAOFactory">
        <constructor-arg ref="db-configuration-context" />
    </bean>

    <!-- 
        // Transaction
    -->

    <bean id="bean-post-processor"
        class="org.springframework.aop.framework.autoproxy.DefaultAdvisorAutoProxyCreator" />

    <bean class="org.springframework.transaction.interceptor.TransactionAttributeSourceAdvisor">
        <property name="transactionInterceptor" ref="transactionInterceptor" />
    </bean>

    <bean id="transactionInterceptor"
        class="org.springframework.transaction.interceptor.TransactionInterceptor">
        <property name="transactionManager" ref="transaction-manager" />
        <property name="transactionAttributeSource">
            <bean
                class="org.springframework.transaction.annotation.AnnotationTransactionAttributeSource" />
        </property>
    </bean>

    <!-- 
        // Clean up daemon
    -->

    <bean id="clean-up-daemon" class="ch.systemsx.cisd.cifex.server.CleanUpDaemon">
        <constructor-arg ref="domain-model" />
    </bean>

    <bean id="timerScheduler" class="org.springframework.scheduling.timer.TimerFactoryBean">
        <property name="scheduledTimerTasks">
            <list>
                <bean class="org.springframework.scheduling.timer.ScheduledTimerTask">
                    <property name="delay" value="0" />
                    <property name="period" value="${cleaning-time-interval}" />
                    <property name="timerTask" ref="clean-up-daemon" />
                </bean>
            </list>
        </property>
    </bean>


</beans>