<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app [
    <!ENTITY gwt SYSTEM "gwt.xml">
]>
<web-app>

    <display-name>CISD File EXchanger</display-name>
    <description>Allows users to exchange large files using a standard web browser.</description>

    <!-- 
        // Spring stuff
    -->

    <context-param>
        <param-name>contextConfigLocation</param-name>
        <param-value>classpath:applicationContext.xml</param-value>
        <description>File for Spring beans.</description>
    </context-param>

    <listener>
        <listener-class>ch.systemsx.cisd.cifex.server.CIFEXContextLoaderListener</listener-class>
    </listener>

    <servlet>
        <servlet-name>spring</servlet-name>
        <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>

    <servlet-mapping>
        <servlet-name>spring</servlet-name>
        <url-pattern>/cifex/*</url-pattern>
    </servlet-mapping>

    <!--
        // Servlets
    -->

    <servlet>
        <servlet-name>file-download</servlet-name>
        <servlet-class>ch.systemsx.cisd.cifex.server.FileDownloadServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>

    <servlet>
        <servlet-name>file-upload</servlet-name>
        <servlet-class>ch.systemsx.cisd.cifex.server.FileUploadServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>

    &gwt;
</web-app>
