<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app [
    <!ENTITY common SYSTEM "web-common.xml">
    <!ENTITY gwt SYSTEM "gwt.xml">
]>
<web-app>

    <display-name>CISD File EXchanger</display-name>
    <description>Allows users to exchange large files using a standard web browser.</description>
    
    &common;

    <!--
        // Session holder
    -->

    <listener>
        <listener-class>ch.systemsx.cisd.cifex.server.UserHttpSessionListener</listener-class>
    </listener>

    <!-- Trying kind of extension (i.e., '*.do') here as 'url-pattern' does not work. -->
    <servlet-mapping>
        <servlet-name>spring</servlet-name>
        <url-pattern>/cifex/*</url-pattern>
    </servlet-mapping>

    <!--
        // Additional servlets
    -->

    <servlet>
        <servlet-name>file-download</servlet-name>
        <servlet-class>ch.systemsx.cisd.cifex.server.FileDownloadServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>

    <servlet>
        <servlet-name>file-upload</servlet-name>
        <servlet-class>ch.systemsx.cisd.cifex.server.FileUploadServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>

    <servlet>
        <servlet-name>file2GB-upload</servlet-name>
        <servlet-class>ch.systemsx.cisd.cifex.rpc.server.File2GBUploadServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>

    &gwt;
</web-app>
