
    * {
        font-family: "Open Sans", Arial, sans-serif;
    }

    /* Set the styles for "Heading 1". */
    h2 {
        font-size: 34.88px;
        font-weight: normal;
    }

    /* Set the styles for "Heading 2". */
    h3 {
        font-size: 28px;
        font-weight: normal;
        color:hsl(203,100%,50%);
    }

    /* Set the styles for "Heading 3". */
    h4 {
        font-size: 20.96px;
        font-weight: bold;
    }

    /* Set the styles for "Paragraph". */
    p {
        font-size: 16px;
        line-height: 25px;
    }

    /* Make the block quoted text serif with some additional spacing. */
    blockquote {
        font-family: Georgia, serif;
        border-left: 6.4px solid #ccc;
        padding-right: 6.4px;
        padding-left: 6.4px;
    }

    /* Tables */
    table {
        border-collapse:collapse;
        border-spacing:0;
        width:100%;
        height:100%;
        border:1px double #b3b3b3
    }

    td,
    th {
        min-width:32px;
        padding:6.4px;
        border:1px double #bfbfbf
    }

    th {
        font-weight:700;
    }

    /* Set the styles for "Images". */
    figure {
        text-align: center;
        margin: 16px auto;
        width: 100%;
        clear: both;
    }

    img {
        vertical-align: middle;
        max-width: 100%;
        min-width: 50px;
    }

    figcaption {
        text-align: center;
        color: #333;
        padding: 8px;
    }

    .image-style-align-left {
        float: left;
        width: auto;
        margin-right: 24px;
    }

    .image-style-align-right {
        float: right;
        width: auto;
        margin-left: 24px;
    }

    /* Markers */
    .marker-yellow {
        background-color:#fdfd77;
    }
    .marker-green {
        background-color:#63f963;
    }
    .marker-pink {
        background-color:#fc7999;
    }
    .marker-blue {
        background-color:#72cdfd;
    }
    .pen-red {
        color:#e91313;
    }
    .pen-green {
        color:#180;
    }

    @media print {
        .pagebreak {
            clear: both;
            page-break-after: always;
        }
    }